<!DOCTYPE html>
<html>
<title>My first blog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/external.css">

  <!-- Header -->


		<body class="w3-light-grey">
      <header>
   <a href="/index" class="w3-button w3-black w3-padding-large w3-margin-bottom">Home</a>
  <a href="/about" class="w3-button w3-black w3-padding-large w3-margin-bottom">About Us</a>
  <a href="/contact" class="w3-button w3-black w3-padding-large w3-margin-bottom">Contact Us</a>
  
  </header>
		<div class="w3-white w3-margin w3-center w3-padding">
    <h1 class="h1-class">NIA'S BLOGLIFE</h1>
    <h2>About us</h2>
		<p class="w3-center">This collection of blogs is a part of an assignment for the Web architecture class taught in the School of Information at UC, Berkeley.
		</p>
    </div>

		<!-- Footer -->
<footer>

  <a href="/index" class="w3-button w3-black w3-padding-large w3-margin-bottom">Home</a>
  <a href="/about" class="w3-button w3-black w3-padding-large w3-margin-bottom">About Us</a>
  <a href="/contact" class="w3-button w3-black w3-padding-large w3-margin-bottom">Contact Us</a>

</footer>

	</body>
</html>