<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/external.css">
<title>My first blog</title>

</head>



 

<body class="w3-light-grey">

 <header>
   <a href="/index" class="w3-button w3-black w3-padding-large w3-margin-bottom">Home</a>
  <a href="/about" class="w3-button w3-black w3-padding-large w3-margin-bottom">About Us</a>
  <a href="/contact" class="w3-button w3-black w3-padding-large w3-margin-bottom">Contact Us</a><hr>
    <h1 class="h1-class">NIA'S BLOGLIFE</h1>
    <h3>Welcome to Nia's world</h3>
  </header> 


<div class="w3-content" style="max-width:1600px">


  <header class="w3-display-container w3-wide" id="home">
  <!--Image reference:https://s3.amazonaws.com/pbblogassets/uploads/2017/09/12115317/Free-Fog-Overlays-865x505.jpg -->
    <img class="w3-image" src="../static/images/Free-Fog-Overlays-865x505.jpg" alt="Blog" width="1600" height="1060">
    <div class="w3-display-left w3-padding-large">
      <h1 class="w3-text-white">Nia's</h1>
      <h1 class="w3-jumbo w3-text-white w3-padding-large w3-hide-small"><b>BLOG</b></h1>
      
    </div>
  </header>


  <div class="w3-row w3-padding w3-border">


   
    <div class="w3-col w3-center l12">

      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h3>Popular Posts</h3>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
          
            <li class="w3-padding-16 w3-border"><a href="/blog/8-experiments-in-motivation" class="link_class">8 Experiments in Motivation</a></li>
           
            <li class="w3-padding-16 w3-border"><a href="/blog/a-mindful-shift-of-focus" class="link_class">A Mindful Shift of Focus</a></li>
         
           <li class="w3-padding-16 w3-border"><a href="/blog/how-to-develop-an-awesome-sense-of-direction" class="link_class">How to Develop an Awesome Sense of Direction</a></li>
         
           <li class="w3-padding-16 w3-border"><a href="/blog/training-to-be-a-good-writer" class="link_class">Training to Be a Good Writer</a></li>
         
         <li class="w3-padding-16 w3-border"> <a href="/blog/what-productivity-systems-wont-solve" class="link_class">What Productivity Systems Won't Solve</a></li>
          
        </ul>
      </div>
      <hr>

    </div>

  </div>

</div>

<footer>

 <a href="/index" class="w3-button w3-black w3-padding-large w3-margin-bottom">Home</a>
  <a href="/about" class="w3-button w3-black w3-padding-large w3-margin-bottom">About Us</a>
  <a href="/contact" class="w3-button w3-black w3-padding-large w3-margin-bottom">Contact Us</a>

</footer>

</body>
</html>

